/* #region ---- Reset ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion ---- Reset ---- */

/* #region ---- Typography ---- */

body{
    font-family: 'Open Sans', sans-serif;
}

/* #endregion ---- Typography ---- */

/* #region ---- General ---- */

.flex{
    display: flex;
    align-items: center;
}
li a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}

/* #endregion ---- General ---- */

/* #region ---- Header ---- */

.header-nav{
    height: 80px;
    justify-content: space-between;
}
ul{
    gap: 40px;
    padding: 0 20px;
}

/* #endregion ---- Header ---- */
