/* #region ---- Reset ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion ---- Reset ---- */

/* #region ---- Typography ---- */

body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 70px;
    padding: 95px 125px 0 0;
}
h2{
    font-size: 40px;
}
h2 , h4{
    padding-bottom: 40px;
}
h3{
    padding-bottom: 20px;
}
span{
    font-size: small;
}
hr{
    width: 20%;
    margin: 30px 0 40px;
    color: #d0d0d3;
}
/* #endregion ---- Typography ---- */

/* #region ---- Buttons ---- */

.btn{
    padding: 10px 15px;
    background-color: #0061ff;
    color: white;
    border: transparent;
    cursor: pointer;
    text-decoration: none;
}
.btn-nobg-small{
    background-color: transparent;
    color: black;
    padding: 10px 15px;
}
.btn-nobg{
    background-color: transparent;
    color: black;
    padding-left: 0;
    padding-right: 0;
}
.btn-big{
    width: 100%;
    margin-bottom: 30px;
}
.btn-border{
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
}
.btn-white{
    background-color: white;
    padding: 15px 40px;
    color: black;
}
.btn-black{
    background-color: black;
    padding-left: 5px;
    color: #999999;
}

/* #endregion ---- Buttons ---- */

/* #region ---- General ---- */

.container{
    border: 1px #d0d0d3 solid ;
    padding: 33px;
    min-height: 200px;
}
.flex{
    display: flex;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
li a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
.big-container{
    width: 1200px;
}
.small-container{
    width: 1000px;
}
.small-col{
    width: 30%;
    height: 100%;
}
.small-col-40{
    width: 40%;
    height: 100%;
    padding: 50px;
}
.big-col{
    width: 70%;
}
.row-hero{
    height: 472.5px;
    position: relative;
    left: 0;
    top: 60px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.col{
    border: 1px #d0d0d3 solid ;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 950px;
}
.col-20{
    width: calc(100%/ 5);
    padding-right: 50px;
    padding-bottom: 100px;
    line-height: 2;
}
.col-33{
    width: calc(100% /3);
    padding-right: 50px;
    padding-bottom: 50px;
}
.col-100{
    width: 100%;
}
section{
    margin-bottom: 100px;
}

/* #endregion ---- General ---- */

/* #region ---- Header ---- */

.header-nav{
    height: 80px;
    justify-content: space-between;
}
nav ul :not(.btn){
    gap: 40px;
    padding: 0 20px;
}

/* #endregion ---- Header ---- */

/* #region ---- Main ---- */

.flex-main{
    display: flex;
    justify-content: center;
}
.hero{
    background-color: #b4d0e7;
}
.small-col *{
    margin-bottom: 30px;
}
.fa-arrow-down{
    font-size: 40px;
    padding-top: 70px;
}
.small-container .flex li{
    padding: 75px 50px 50px 0px;
}
.small-container i{
    padding: 0 5px 0 0;
}
.select{
    color: #0061ff;
}
.unselect{
    color: #d0d0d3;
}
.options{
    text-align: center;
    padding: 15px 0;
    border: 1px #d0d0d3 solid ;
}
.col .spec{
    padding-top: 50px;
    padding-bottom: 50px;
}
.col ul li{
    padding-bottom: 10px;
}
.fa-check{
    color: #6b6dff;
}
/* #endregion ---- Main ---- */

/* #region ---- Collaborations ---- */

.aside-left , .aside-right{
    width: 33vw;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}
.center{
    width: 33vw;
    height: 640px;
    background-color: #d0d0d3;
    padding: 50px 50px 0;
    overflow-y: hidden;
}
.collab{
    display: flex;
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.collab img{
    align-self: center;
    filter: invert(1);
    width: 145px;
}
.top-left-left{
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}
.top-right-left{
    background-color: #61082b;
}
.bottom-left-left{
    background-color: #0093ce;
}
.bottom-right-left{
    background-color: #ff1c1c;
}
.center p{
    margin-bottom: 40px;
}
.center img{
    width: 50%;
}
.top-left-right{
    background-color: #d5001f;
}
.top-right-right{
    background-color: #b4d0e7;
}
.bottom-left-right{
    background-color: #0d2481;
}
.bottom-right-right{
    background-color: #ffd830;
}
/* #endregion ---- Collaborations ---- */

/* #region ---- Trial/F.A.Q. ---- */

.trial{
    color: #61082b;
    padding: 140px 0;
    width: 60%;
}
.question:nth-child(even){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.question{
    padding: 30px 0;
}

/* #endregion ---- Trial/F.A.Q.---- */

/* #region ---- Footer ---- */

footer , footer a{
    background-color: black;
    color: white;
}
footer .col-20{
    margin-top: 110px;
}
.lang{
    padding: 35px 20px 35px 0;
    border-top: 1px solid white;
    color: #999999;
}

/* #endregion ---- Footer ---- */
